<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Special Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <form action="/process" method=POST>
        {% csrf_token %}
    Email: <input type="text" name="email">
    Password: <input type="password" name="password">
    <input type="submit" value="Create User">
    </form>


        <form action="/process_mess" method=POST>
            {% csrf_token %}
            Input Message: <input type="text" name="message">
            Email: <input type="text" name='email'>
            <input type="submit" value="Post Message">
        </form>



</body>
</html>