<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Messages</title>
</head>
<body>
    <h1>View User Messages</h1>

    <table>
        <tr>
            <th>Message</th>
            <th>Poster</th>
            <th>Add Like</th>
            <th>Like Count</th>
            <th>View One Message</th>
        </tr>
        {% for mess in all_mess %}
        <tr>
            <td>{{mess.message}}</td>
            <td>{{mess.poster.email}}</td>
            <td>Like Message             
                <form action="/add_like/{{mess.id}}" method=POST>
                    {% csrf_token %}
                    Liker's name: <input type="text" name='email'>
                    <input type="submit" value=submit>
                </form>
            </td>
            <td>Number of Likes: {{mess.users_who_liked.count}}</td>
            <td><a href="view_mess/{{mess.id}}">View Message</a></td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>