<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
</head>
<body>
    <h1>This is where you will find my users</h1>

    <table>
        <tr>
            <th>Email</th>
            <th>Password</th>
        </tr>
        {% for user in all_users %}
        <tr>
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>